.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 10px 0;
    align-items: center;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #555;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb span {
    margin: 0 5px;
    color: #555;
    font-size: 25px;
  }